* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
  background: #f0eeea;
  overflow-x: hidden;
}

.scroll-container {
  width: 100%;
  overflow: hidden;
}

.row {
  display: flex;
  gap: 60px;
  padding: 10px 0;
  white-space: nowrap;
  line-height: 16rem;
}

.row:nth-child(odd) {
  animation: scrollRight 30s linear infinite;
}
.row:nth-child(even) {
  animation: scrollLeft 30s linear infinite;
}

.color-name {
  font-size: 15rem;
  font-weight: bold;
  padding-left: 2rem;
}

@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}
